@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Pacifico&family=Poppins:wght@500&family=Source+Sans+3:wght@400;900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;